global:
  clusterName: ${cluster_name}
  oauth:
    clientId: ${client_id}
    clientSecret: ${client_secret}
    endpoint: ${collector_endpoint}
    tokenUrl: ${token_url}
appdynamics-cloud-k8s-monitoring:
  install:
    clustermon: true
    defaultInfraCollectors: true
    logCollector: true
  clustermonConfig:
    os: linux
    events:
      enabled: true
      severityToExclude: []
      reasonToExclude: []
      severeGroupByReason: []
  containermonConfig:
    os:
      - linux
  servermonConfig:
    os:
      - linux
  logCollectorConfig:
    os:
      - linux
    container:
      defaultConfig:
        enabled: true
        multiLinePattern: '^{'
        multiLineMatch: "after"
        multiLineNegate: true
        logFormat: "logs:email_logs"
        messageParser:
          json:
            enabled: true
appdynamics-otel-collector:
  clientId: ${client_id}
  clientSecret: ${client_secret}
  endpoint: ${collector_endpoint}
  tokenUrl: ${token_url}
  enableNetworkMonitoring: true
appdynamics-network-monitoring:
  enabled: true
%{ if security_monitoring_enabled }
appdynamics-security-collector:
  enabled: true
  panoptica:
    controller:
      agentID: ${agent_id}
      secret:
        sharedSecret: ${shared_secret}
%{ endif }
