#
# Copyright 2023 Cisco Systems, Inc. and its affiliates
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# override the default project variables. ----------------------------------------------------------
# aws region.
#aws_region = "us-east-2"

# aws eks cluster name.
#aws_eks_cluster_name = "<your_aws_eks_cluster_name_here>"

# appdynamics cnao kubernetes and app service monitoring solution helm chart variables.
#cnao_client_id = "<your_cnao_client_id_here>"
#cnao_client_secret = "<your_cnao_client_secret_here>"
#cnao_cluster_name = "<your_cnao_cluster_name_here>"
#cnao_collector_endpoint = "<your_cnao_collector_endpoint_here>"
#cnao_operators_endpoint = "<your_cnao_operators_endpoint_here>"
#cnao_tenant_id = "<your_cnao_tenant_id_here>"
#cnao_token_url = "<your_cnao_token_url_here>"
